*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navigatie */


.nav{
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: black;
   position: sticky;
   top: 0;
}
.nav ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.nav ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}

.nav ul li a{
    text-decoration: none;
    color: blanchedalmond;
    padding: 8px 25px;
    transition: all .5s ease;  
}

.nav ul li a:hover{
    background-color: blanchedalmond;
    color: cornflowerblue;
    box-shadow:0 0 10px turquoise;
}


/*home screen*/

#home{
    display: flex;  
    flex-direction: column;  
    background-color: transparent;
    height: 840px;
    justify-content: center;
    align-items: center;
    color: salmon;
}

#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('fotoPOFO.jpg') no-repeat center center/cover; 
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.main{
    display: flex;
    flex-direction: column;
    /*border: 1px solid white;*/
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}
.heading{
  font-family: century;
  font-size: 3rem;
  text-align: center;
  margin: 40px 0px;
}

/*portfolio*/

#projects{
    display: flex;
    flex-direction: column;
    background-color: rosybrown;
}
#projects h1{
    margin: 60px;
}

.gallery{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.gallery img{
    width: 360px;
    height: 640px;
    padding: 10px;
    margin: 10px;
}
.gallery img:hover{
    background-color: white;
    cursor: pointer;
}

/*work and education */

#workeducation{
    display: flex;
    flex-direction: column;
    background-color: yellowgreen;
}
#workeducation h1{
    margin: 60px;
    text-align: center;
}
.kolommen{
    display: grid;
    grid-template-columns: auto auto;
    padding: 50px;
}

.box{
    height: 300px;
    width: 500px;
    background-color:yellow ;
    border-radius: 20px;
    margin: 30px;
}
.box h2{
 color: violet;
 font-size: 2rem;
 margin-bottom: 40px;
}
.box p{
    color: black;
    font-size: 1.1rem;
}
/*skillset*/

#skillset{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.row{
    display: flex;
}
.box2{
   display: flex; 
   flex-direction: column;
   width: 350px;
   height: 450px;
   border: 1px black;
   margin: 10px;
   align-items: center;
   text-align: justify;
   padding: 10px;
   border-radius: 15px;
   background: linear-gradient(to top, blue 50%, purple 50%); 
   background-size: 100% 200% ;
   transition: all .8s;
}
.box2:hover{
    background-position: left bottom;
    color: gray;
    border: none;
    box-shadow: 0 0 20px brown;
    cursor:grabbing ;

}
.social-icon{
 font-size: 75px;
 color: grey;
 transition: color 0.6s;
 text-decoration: none;
 padding: 100px;
}
.social-icon:hover{
    color: blue;
}
.social-icon p{
    text-decoration-style: wavy;
}


/*gemaakt door Younes8/