*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navigatie */


.nav{
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: black;
   position: sticky;
   top: 0;
}
.nav ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.nav ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}

.nav ul li a{
    text-decoration: none;
    color: blanchedalmond;
    padding: 8px 25px;
    transition: all .5s ease;  
}

.nav ul li a:hover{
    background-color: blanchedalmond;
    color: cornflowerblue;
    box-shadow:0 0 10px turquoise;
}


/*home screen*/

#home{
    display: flex;  
    flex-direction: column;  
    background-color: tomato;
    height: 840px;
    justify-content: center;
    align-items: center;
    color: violet;
}

#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('img') no-repeat center center/cover; 
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.main{
    display: flex;
    flex-direction: column;
    /*border: 1px solid white;*/
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}
.heading{
  font-family: century;
  font-size: 3rem;
  text-align: center;
  margin: 40px 0px;
}

/*portfolio*/

#portfolio{
    display: flex;
    flex-direction: column;
    background-color: rosybrown;
    color: sandybrown;
    align-items: center;
    padding: 20px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    
}